[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/plugins/start/vim-repeat"]
	path = pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/plugins/start/tabular"]
	path = pack/plugins/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "pack/plugins/start/vim-nix"]
	path = pack/plugins/start/vim-nix
	url = https://github.com/LnL7/vim-nix.git
[submodule "pack/plugins/start/vim-terraform"]
	path = pack/plugins/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "pack/plugins/start/rust.vim"]
	path = pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "pack/plugins/start/vim-lsc"]
	path = pack/plugins/start/vim-lsc
	url = https://github.com/natebosch/vim-lsc.git
[submodule "pack/plugins/start/vim-dim"]
	path = pack/plugins/start/vim-dim
	url = https://github.com/jeffkreeftmeijer/vim-dim.git
[submodule "pack/plugins/start/vim-toml"]
	path = pack/plugins/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/start/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "pack/plugins/start/vim-jsonnet"]
	path = pack/plugins/start/vim-jsonnet
	url = https://github.com/google/vim-jsonnet.git
