[submodule "pack/plugins/start/editorconfig-vim"]
	path = pack/plugins/start/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "pack/plugins/start/jellybeans.vim"]
	path = pack/plugins/start/jellybeans.vim
	url = git@github.com:nanotech/jellybeans.vim.git
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "pack/plugins/start/vim-repeat"]
	path = pack/plugins/start/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/plugins/start/tabular"]
	path = pack/plugins/start/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "pack/plugins/start/vim-goimports"]
	path = pack/plugins/start/vim-goimports
	url = git@github.com:mattn/vim-goimports.git
[submodule "pack/plugins/start/vim-nix"]
	path = pack/plugins/start/vim-nix
	url = git@github.com:LnL7/vim-nix.git
[submodule "pack/plugins/start/snipmate.vim"]
	path = pack/plugins/start/snipmate.vim
	url = git@github.com:hardselius/snipmate.vim.git
[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/start/tagbar
	url = git@github.com:preservim/tagbar.git
[submodule "pack/plugins/start/vim-terraform"]
	path = pack/plugins/start/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
[submodule "pack/plugins/start/rust.vim"]
	path = pack/plugins/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "pack/plugins/start/srcery-vim"]
	path = pack/plugins/start/srcery-vim
	url = git@github.com:srcery-colors/srcery-vim.git
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "pack/plugins/start/vim-graphql"]
	path = pack/plugins/start/vim-graphql
	url = git@github.com:jparise/vim-graphql.git
[submodule "pack/plugins/start/plantuml-syntax"]
	path = pack/plugins/start/plantuml-syntax
	url = git@github.com:aklt/plantuml-syntax.git
[submodule "pack/plugins/start/badwolf"]
	path = pack/plugins/start/badwolf
	url = git@github.com:sjl/badwolf.git
